python-dotenv
pyarrow
pandas
jupyterlab
matplotlib
scipy
scikit-learn
ipympl
tiktoken
openai
ollama
langchain-community
plotly
pandas
scikit-learn
numpy
yellowbrick
matplotlib
seaborn
os
pathlib
jinja2
pickle